<!DOCTYPE html>
<html lang="tr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/libs/bootstrap/dist/css/bootstrap.min.css">
    <title>Asansör Firması Müşteri Arayüzü</title>
</head>
<body>
<!-- Navbar -->
<nav class="navbar navbar-expand-lg navbar-dark bg-primary">
    <div class="container">
        <a class="navbar-brand active" href="/"><%=  %></a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav ml-auto">
            <li class="nav-item">
                <a class="nav-link" href="hizmetler.html">Arıza Talep</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="referanslar.html">Arıza Takip</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="iletisim.html">Servis Hizmetleri</a>
            </li>
        </ul>
    </div>
    </div>
    
</nav>

<!-- Ana İçerik -->
<div class="container mt-3">
    <div class="row">
        <div class="col-md-3">
            <div class="list-group">
                <!-- <a href="/hizmetler" class="list-group-item list-group-item-hover" >Hizmetler</a>
                <a href="/referanslar" class="list-group-item list-group-item-hover">Referanslar</a>
                <a href="/iletisim" class="list-group-item list-group-item-hover">İletişim</a> -->
                <% categories.forEach(function(category){ %>
                    <a href="/hizmetler" class="list-group-item list-group-item-hover" ><%= category %></a>
                <% })  %>
            </div>
            <img src="\static\images\asan-logo.jpeg" alt="" class="img-fluid">
        </div>
        <div class="col-md-9">
            <section class="container mt-5">
                <h2>Biz Kimiz?</h2>
                <p class="lead">Asansör Firması olarak, uzun yıllara dayanan tecrübemiz ve sektördeki lider konumumuzla müşterilere güvenilir, yenilikçi ve kaliteli asansör çözümleri sunuyoruz.</p>
            
                <h3>Tecrübe ve Güven</h3>
                <p>Şirketimiz, asansör sektöründeki zengin geçmişiyle gurur duyuyor. Yıllar içinde edinilen deneyim ve uzman kadromuz sayesinde, müşterilerimize en son teknolojiyle donatılmış güvenli, dayanıklı ve verimli asansör sistemleri sunabiliyoruz.</p>
            
                <h3>Profesyonel Ekibimiz</h3>
                <p>Bünyemizde bulunan uzman mühendislerimiz, teknisyenlerimiz ve proje yöneticilerimiz, her projede en üst düzeyde kalite ve güvenilirlik sağlamak adına bir araya gelmiştir. Müşterilerimize özel çözümler sunmak için sürekli olarak kendimizi geliştirmekte ve sektördeki en son trendleri takip etmekteyiz.</p>
            
            </section>
        </div>
    </div>
</div>

<!-- Footer -->
<footer class="bg-dark text-light text-center py-3 mt-4">
    <p>&copy; 2024 Asansör Firması</p>
</footer>

</body>
</html>