<!DOCTYPE html>
<html lang="tr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/libs/bootstrap/dist/css/bootstrap.min.css">
    <title>Asansör Firması Müşteri Arayüzü</title>
</head>
<body>
<!-- Navbar -->
<nav class="navbar navbar-expand-lg navbar-dark bg-primary">
    <div class="container">
        <a class="navbar-brand active" href="/">Anasayfa</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav ml-auto">
            <li class="nav-item">
                <a class="nav-link" href="hizmetler.html">Arıza Talep</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="referanslar.html">Arıza Takip</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="iletisim.html">Servis Hizmetleri</a>
            </li>
        </ul>
    </div>
    </div>
    
</nav>

<!-- Ana İçerik -->
<div class="container mt-3">
    <div class="row">
        <div class="col-md-3">
            <div class="list-group">
                <a href="/hizmetler" class="list-group-item list-group-item-action ">Hizmetler</a>
                <a href="/referanslar" class="list-group-item list-group-item-action active">Referanslar</a>
                <a href="/iletisim" class="list-group-item list-group-item-action">İletişim</a>
            </div>
        </div>
        <div class="col-md-9">
            <div class="card mb-3">
                <div class="row">
                    <div class="col-md-3">
                        <img src="\static\images\asan-1.jpeg" alt="" class="img-fluid">
                    </div>
                    <div class="col-md-9">
                        <div class="card-body">
                            <h5 class="card-title">Ana Başlık</h5>
                            <p>Kart Text</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="card mb-3">
                <div class="row">
                    <div class="col-md-3">
                        <img src="\static\images\asan-2.jpeg" alt="" class="img-fluid">
                    </div>
                    <div class="col-md-9">
                        <div class="card-body">
                            <h5 class="card-title">Ana Başlık</h5>
                            <p>Kart Text</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="card mb-3">
                <div class="row">
                    <div class="col-md-3">
                        <img src="\static\images\asan-3.jpeg" alt="" class="img-fluid">
                    </div>
                    <div class="col-md-9">
                        <div class="card-body">
                            <h5 class="card-title">Ana Başlık</h5>
                            <p>Kart Text</p>
                        </div>
                    </div>
                </div>
            </div>
            <!-- pagination -->
            <nav>
                <ul class="pagination justify-content-center">
                    <li class="page-item">
                        <a href="" class="page-link">Geri</a>
                    </li>
                    <li class="page-item active">
                        <a href="" class="page-link">1</a>
                    </li>
                    <li class="page-item">
                        <a href="" class="page-link">2</a>
                    </li>
                    <li class="page-item">
                        <a href="" class="page-link">3</a>
                    </li>
                    <li class="page-item">
                        <a href="" class="page-link">İleri</a>
                    </li>                       
                </ul>
            </nav>
        </div>
    </div>
</div>

<!-- Footer -->
<footer class="bg-dark text-light text-center py-3 mt-4">
    <p>&copy; 2024 Asansör Firması</p>
</footer>

</body>
</html>
<!DOCTYPE html>
<html lang="tr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/libs/bootstrap/dist/css/bootstrap.min.css">
    <title>Asansör Firması Müşteri Arayüzü</title>
</head>
<body>
<!-- Navbar -->
<nav class="navbar navbar-expand-lg navbar-dark bg-primary">
    <div class="container">
        <a class="navbar-brand active" href="/">Anasayfa</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav ml-auto">
            <li class="nav-item">
                <a class="nav-link" href="hizmetler.html">Arıza Talep</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="referanslar.html">Arıza Takip</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="iletisim.html">Servis Hizmetleri</a>
            </li>
        </ul>
    </div>
    </div>
    
</nav>

<!-- Ana İçerik -->
<div class="container mt-3">
    <div class="row">
        <div class="col-md-3">
            <div class="list-group">
                <a href="/hizmetler" class="list-group-item list-group-item-hover" >Hizmetler</a>
                <a href="/referanslar" class="list-group-item list-group-item-hover active">Referanslar</a>
                <a href="/iletisim" class="list-group-item list-group-item-hover">İletişim</a>
            </div>
            <img src="\static\images\asan-logo.jpeg" alt="" class="img-fluid">
        </div>
        <div class="col-md-9">
            <div class="card mb-3">
                <div class="row">
                    <div class="col-md-3">
                        <img src="\static\images\asan-1.jpeg" alt="" class="img-fluid">
                    </div>
                    <div class="col-md-9">
                        <div class="card-body">
                            <h5 class="card-title">Ana Başlık</h5>
                            <p>Kart Text</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="card mb-3">
                <div class="row">
                    <div class="col-md-3">
                        <img src="\static\images\asan-2.jpeg" alt="" class="img-fluid">
                    </div>
                    <div class="col-md-9">
                        <div class="card-body">
                            <h5 class="card-title">Ana Başlık</h5>
                            <p>Kart Text</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="card mb-3">
                <div class="row">
                    <div class="col-md-3">
                        <img src="\static\images\asan-3.jpeg" alt="" class="img-fluid">
                    </div>
                    <div class="col-md-9">
                        <div class="card-body">
                            <h5 class="card-title">Ana Başlık</h5>
                            <p>Kart Text</p>
                        </div>
                    </div>
                </div>
            </div>
            pagination
            <nav>
                <ul class="pagination justify-content-center">
                    <li class="page-item">
                        <a href="" class="page-link">Geri</a>
                    </li>
                    <li class="page-item active">
                        <a href="" class="page-link">1</a>
                    </li>
                    <li class="page-item">
                        <a href="" class="page-link">2</a>
                    </li>
                    <li class="page-item">
                        <a href="" class="page-link">3</a>
                    </li>
                    <li class="page-item">
                        <a href="" class="page-link">İleri</a>
                    </li>                       
                </ul>
            </nav>
        </div>
    </div>
</div>

<!-- Footer -->
<footer class="bg-dark text-light text-center py-3 mt-4">
    <p>&copy; 2024 Asansör Firması</p>
</footer>

</body>
</html>