<!DOCTYPE html>
<html lang="tr">
<head>
    <%- include('../partials/head') %>
</head>
<body>
<!-- Navbar -->
<%- include('../partials/nav') %>

<!-- Ana İçerik -->
<div class="container mt-3">
    <div class="row">
        <div class="col-md-3">
            <div class="list-group">
                <a href="/hizmetler" class="list-group-item list-group-item-action ">Hizmetler</a>
                <a href="/referanslar" class="list-group-item list-group-item-action active">Referanslar</a>
                <a href="/iletisim" class="list-group-item list-group-item-action">İletişim</a>
            </div>
        </div>
        <div class="col-md-9">
            <div class="card mb-3">
                <div class="row">
                    <div class="col-md-3">
                        <img src="\static\images\asan-1.jpeg" alt="" class="img-fluid">
                    </div>
                    <div class="col-md-9">
                        <div class="card-body">
                            <h5 class="card-title">Ana Başlık</h5>
                            <p>Kart Text</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="card mb-3">
                <div class="row">
                    <div class="col-md-3">
                        <img src="\static\images\asan-2.jpeg" alt="" class="img-fluid">
                    </div>
                    <div class="col-md-9">
                        <div class="card-body">
                            <h5 class="card-title">Ana Başlık</h5>
                            <p>Kart Text</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="card mb-3">
                <div class="row">
                    <div class="col-md-3">
                        <img src="\static\images\asan-3.jpeg" alt="" class="img-fluid">
                    </div>
                    <div class="col-md-9">
                        <div class="card-body">
                            <h5 class="card-title">Ana Başlık</h5>
                            <p>Kart Text</p>
                        </div>
                    </div>
                </div>
            </div>
            <!-- pagination -->
            <%- include('../partials/pagination') %>
        </div>
    </div>
</div>

<!-- Footer -->
<%- include('../partials/footer') %>

</body>
</html>